@import "tailwindcss";

.banner-section-image {
  width: 100%;
  height: 560px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.comment {
  width: 100%;
  border-bottom: 1px solid #dedede;
  padding-bottom: 24px;
  margin-bottom: 16px;
}

.comment__content {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.comment__avatar {
  min-width: 56px;
  min-height: 56px;
  position: relative;
}

.comment__avatar-img {
  border-radius: 50%;
  object-fit: cover;
}

.comment__body {
  width: 100%;
}

.comment__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}

.comment__name {
  font-weight: 500;
}

.comment__rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

.comment__star {
  color: #d1d5db; /* gray */
}

.comment__star--active {
  color: #ffbb00;
}

.comment__rating-value {
  margin-left: 8px;
  color: #374151;
}

.comment__date {
  font-size: 14px;
  font-weight: 500;
  color: #757575;
}

.comment__text {
  margin-top: 6px;
  font-size: 14px;
  color: #4b5563;
  line-height: 1.5;
}

.comment__name-rating {
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 8px;
}

.comment_inputs {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.comment_inputs div {
  width: 50%;
}

.rating-btn-submit-btn-grp {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.submit-btn {
  background-color: black;
  color: white;
  width: 10%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  gap: 0.5rem;
  cursor: pointer;
}

.rating-btns {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #f9fafb;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

.inactive-btn {
  color: #ff0412;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.active-btn-2 {
  background-color: #ff6700;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 0.75rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.inactive-btn-2 {
  color: #ff6700;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.active-btn-3 {
  background-color: #ffb416;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 0.75rem;
  border-radius: 12px;
  cursor: pointer;
}

.inactive-btn-3 {
  color: #ffb416;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.inactive-btn-4 {
  color: #1c9af4;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.active-btn-4 {
  background-color: #1c9af4;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 0.75rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.active-btn-5 {
  background-color: #00ba5c;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 0.75rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.related-title {
  font-size: 1.875rem;
  font-weight: 600;
  text-align: center;
  color: #262d4d;
  margin-bottom: 2.5rem;
}

.related-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin: 0 30px;
}

.article-card-image {
  width: 100%;
  height: 10rem;
}
/* Responsive */
@media (max-width: 640px) {
  .comment__header {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 1400px) {
  .layout_padding {
    width: 1200px;
    margin: auto;
  }
}
