@import "tailwindcss";

.article-card-image {
    width: 18.5rem;
    height: 10rem;
  }

.banner-section-image {
  width: 100%;
  height: 560px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

@media (min-width: 1400px) {
  .layout_padding {
    width: 1200px;
    margin: auto;
  }
}